@tailwind base;
@tailwind components;
@tailwind utilities;
/* @import "./preflight.css"; */

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

@layer base {
  img {
    @apply inline-block;
  }
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }

  .view-layout {
    @apply flex h-full w-full flex-col items-start justify-between rounded-2xl bg-default p-3;
  }

  .toolbar-layout {
    @apply relative flex h-10 w-fit items-center rounded-full bg-default px-4 py-1;
  }
}
