name: Build Capacitor Release

on:
  push:
    tags:
      - "v*.*.*"

jobs:
  build:
    strategy:
      matrix:
        target: [android]
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Set up JDK 17
        uses: actions/setup-java@v3
        with:
          java-version: "17"
          distribution: "temurin"

      - name: Setup Android SDK
        uses: android-actions/setup-android@v3

      - name: Install Android SDK build tools
        run: |
          sdkmanager "build-tools;34.0.0"
          echo "$ANDROID_SDK_ROOT/build-tools/34.0.0" >> $GITHUB_PATH

      - name: Get Keystore
        run: |
          mkdir android/.keystore 
          echo ${{ secrets.ANDROID_KEYSTORE }} | base64 --decode > android/.keystore/keystore.jks

      - name: Setup Node.js
        uses: actions/setup-node@v4
        with:
          node-version: 22.x

      - name: Install dependencies
        run: npm install

      - name: Build Web App
        run: npm run build

      - name: Change Android Project Permission
        run: chmod +x android/gradlew

      - name: Sync Capacitor App
        run: npx cap sync

      - name: Build Capacitor App
        run: npx cap build android --keystorepath .keystore/keystore.jks --keystorepass ${{ secrets.ANDROID_KEYSTORE_PASS }} --androidreleasetype APK

      - name: Move APK
        run: mv android/app/build/outputs/apk/release/app-release-signed.apk pulse-editor.apk

      - name: Create Release Build (Android)
        uses: softprops/action-gh-release@v2
        with:
          files: pulse-editor.apk
